/* Estilo específico del título de la pantalla de ingresar clave */
h2 {
    font-size: clamp(1.2rem, 4vw, 2rem); 
    color: white;
    margin-bottom: 20px;
}

/* Estilo del campo de entrada de la clave */
.clave-input {
    padding: 15px;
    font-size: 2rem;
    text-align: center;
    width: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #fff;
    color: #290979;
}

/* Estilo de los botones */
.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-button {
    background-color: white;
    color: #290979;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 70px;
}

.menu-button:hover {
    background-color: #bd56ec;
    color: white;
}

@media (min-width: 768px) {
    .clave-input {
        width: 150px;
    }

    .menu-button {
        width: 200px;
        height: 70px;
    }
}
